 <div id="clearance" class="sign-in">
	<div class="container">
		 <div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<h2><%= t(".title") %></h2>
					<%= render partial: '/sessions/form' %>
				</div>
				

				<div class="row">
					<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-primary" %>
					<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class:"btn btn-primary" %>
			    </div>

	
				<%if Clearance.configuration.allow_sign_up? %>
					<p>Haven't got an account yet?
				  	<%= link_to t(".sign_up"), sign_up_path %> with us
					</p>
				<% end %>
			</div>
		</div>
	</div>
</div> 



