<div class="row">
<div class="border">
  <%= form_for @consultant do |form| %>
		
		<%= form.fields_for @consultant.user do |form_fields| %>
			Name: <%= form_fields.text_field :name %>
		<% end %>

	  <div class="col-md-8">
	    <h2 class="a">Edit Profile</h2>

			<div class="text-field">
			  <label for="qualifications">Qualifications:</label>
			  <%= form.text_field :qualifications, placeholder: "Enter Your Qualifications" %>
			</div><br>

			<div class="text-field">
			<label for="languages">Languages:</label>
			  <%= form.text_field :languages, placeholder: 'Enter Your Languages' %>
			</div><br>


			<div class="text-field">
			<label for="location">Location:</label>
			  <%= form.text_field :location, placeholder: 'Enter Your Location' %>
			</div><br>

			<div class="text-field">
			<label for="description">Description:</label>
			  <%= form.text_field :description, placeholder: 'Enter Your Description' %>
			</div><br>

			

		  <%= form.label "Upload a profile picture" %>
			<div class="file-field ">
		 		<center> 
		  		<%= form.file_field :profile_picture %>
				</center>
			</div><br>

			<div class="submit-field">
		      <%= form.submit %>
		  </div>
		</div>

	<% end %>
	</div>
</div>
