  <%= form_for @consultant do |form| %>

  	<%= form.fields_for @consultant.user do |form_fields| %>
  	Name: <%= form_fields.text_field :name %>
  	 <% end %>

		<div class="text-field">
		  <%= form.label :qualifications%>
		  <%= form.text_field :qualifications, type: 'qualifications' %>
		</div>

		<div class="text-field">
		  <%= form.label :languages%>
		  <%= form.text_field :languages, type: 'languages' %>
		</div>


		<div class="text-field">
		  <%= form.label :location%>
		  <%= form.text_field :location, type: 'location' %>
		</div>

		<div class="text-field">
		  <%= form.label :description%>
		  <%= form.text_field :description, type: 'description' %>
		</div>

	<div class="file-field">
	  <%= form.label "Upload a profile picture" %>
	  <%= form.file_field :profile_picture %>
	</div>

	<div class="submit-field">
      <%= form.submit %>
    </div>
<% end %>
