
<%= form_for @consultant do |form| %>
  <div class="text-field">
    <%= form.text_field :qualifications, placeholder: 'Enter Your Qualifications' %>
  </div><br>

  <div class="text-field">
    <%= form.text_field :languages, placeholder: 'Enter Your Languages' %>
  </div><br>

  <div class="text-field">
    <%= form.text_field :location, placeholder: 'Enter Your Location' %>
  </div><br>

  
  <%= form_for @category do |form| %>
    <div class="text-field">
      <%= form.label "Field of expertise"%>
      <%= form.select(:category_name, ['Loans', 'Tax', 'Investments', 'Personal Finance', 'Insurance', 'Trading']) %>
    </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>
  <% end %>
<% end %>


