<%= form_for @consultant do |form| %>
  <div class="text-field">
    <%= form.label :qualifications%>
    <%= form.text_field :qualifications, type: 'qualifications' %>
  </div>

  <div class="text-field">
    <%= form.label :languages%>
    <%= form.text_field :languages, type: 'languages' %>
  </div>

  <div class="text-field">
    <%= form.label :location%>
    <%= form.text_field :location, type: 'location' %>
  </div>

  <%= form_for @category do |form| %>
    <div class="text-field">
      <%= form.label "Field of expertise"%>
      <%= form.select(:category_name, ['Loans']) %>
    </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>
  <% end %>
<% end %>
