<div class="container bodyWrapper">
  <h2>Consultant profile</h2>

  <%= @consultant.user.avatar %>

  <p>
   <strong>Full name:</strong>
   <%= @consultant.user.name %>
  </p>

  <p>
   <strong>Email:</strong>
   <%= @consultant.user.email %>
  </p>

  <p>
   <strong>Qualifications:</strong>
   <%= @consultant.qualifications %>
  </p>

  <p>
   <strong>Languages:</strong>
   <%= @consultant.languages %>
  </p>

  <p>
   <strong>Location</strong>
   <%= @consultant.location %>
  </p>

  <p>
   <strong>Description</strong>
   <%= @consultant.description %>
  </p>

  <% if current_user.id == @consultant.user.id %>
    <p>
      <%= link_to 'Edit profile', edit_consultant_path(@consultant) %>
    </p>

    <p>
      <%= link_to 'Create a consultant session', new_consultant_session_path %>
    </p>
  <% end %>

  <div>
    <h3>Consultant Sessions:
      <%= @consultant.user.consultant_sessions.count %>
    </h3>
    <%= form_tag session_booking_path(@consultant) do %>

      <% @consultant.user.consultant_sessions.each do |s| %>
        <div class="container sessionWrapper">
          <p> Date:
            <%= s.start_time.to_formatted_s(:short) %>
          </p>
          <p>Rates:
            RM <%= s.rate %> per <%= (s.end_time - s.start_time) / 60 %> minutes
          </p>
          <p> Listing Status:
            <% if s.session_active_inactive == true %>
              Available
            <% else %>
              Reserved
            <% end %>
          </p>
          <%= check_box_tag "consult_sessions[#{s.id}]" %>
        </div>
      <% end %>
      <%= submit_tag("Submit") %>
    <% end %>
  </div>
</div>
