<div class="bodyWrapper">
  <div class="container-fluid">
    <div class="profileWrapper">
      <div class="alignText">
        <p class="mediumText">
          <strong><%= @consultant.user.name %></strong>
        </p>
        <% if current_user.id == @consultant.user.id %>
          <p>
            <%= link_to 'Edit profile', edit_consultant_path(@consultant) %>
          </p>
        <% end %>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-sm-9">
          <p class="smallText">
           <strong>Qualifications:</strong>
           <%= @consultant.qualifications %>
          </p>

          <p class="smallText">
           <strong>Languages:</strong>
           <%= @consultant.languages %>
          </p>

          <p class="smallText">
           <strong>Location</strong>
           <%= @consultant.location %>
          </p>

          <p class="smallText">
           <strong>Description</strong>
           <%= @consultant.description %>
          </p>
        </div>

        <div class="col-sm-3">
          <%= image_tag(@consultant.user.avatar.square.url, class: 'profileThumb') if @consultant.user.avatar.square.url %>
        </div>
      </div>
    </div>

    <br />

    <%= link_to user_path(@consultant.user) do %>
      <div class="buttonWrapper alignText">
        <br />
        <p>
          View Sessions
        </p>
      </div>
    <% end %>

    <br />

    <%= form_tag new_payment_path, method: :get do %>

    <% if current_user.id == @consultant.user.id %>
      <%= link_to new_consultant_session_path do %>
        <div class="buttonWrapper alignText">
          <br />
          <p>
            Create a consultant session
          </p>

        </div>
      <% end %>
    <% end %>

    <br />
    <br />

      <div class="longButtonWrapper alignText">
        <br />
        <p>
          AVAILABLE SESSIONS
        </p>
      </div>

    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Day</th>
          <th>Time</th>
          <th>Cost</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>

      <% count = 0 %>
        <% @consultant.user.consultant_sessions.where(session_active_inactive: true).each do |s| %>
          <tr>
            <th scope="row"><%= count += 1 %></th>
            <td><%= s.start_time.to_date %></td>
            <td><%= s.start_time.to_date.wday %></td>
            <td><%= s.start_time.time.to_formatted_s(:time) %></td>
            <td><%= s.rate %></td>
            <td><%= check_box_tag "consult_sessions[#{s.id}]" %></td>
          </tr>
        <% end %>
          <tr>
            <td colspan="6"><button type="submit" class="btn btn-primary pull-right">Submit</button></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
