<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="password-field">
  <%= form.label :birthday%>
  <%= form.password_field :birthday %>
</div>

<div class="file-field">
  <%= form.label "Upload a profile picture" %>
  <%= form.file_field :profile_picture %>
</div>