<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="form-horizontal" role="form">
			<div class="form-group">
    			<label class="control-label col-sm-2" for="email">Email:</label>
    			<div class="signup-form-field">
    				<%= form.email_field :email, class: 'form-control', id: 'email', placeholder: 'Enter a valid email address' %>
    			</div>
			</div>

			<div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">Password:</label>
			    <div class="signup-form-field">
			    	<%= form.password_field :password, class: 'form-control', id: 'pwd', placeholder: 'Enter a valid password' %>
			    </div>
			</div>

			<div class="form-group">
			    <label class="control-label col-sm-2" for="dob">Birthday:</label>
			    <div class="signup-form-field"> 
			    	<%= form.text_field :birthday, class: 'form-control', id: 'dob', placeholder: 'DD/MM/YYYY' %>
			    </div>
			</div>

			<div class="form-group">
			<label class="control-label col-sm-2" for="pp">Profile Picture:</label>
			<div class="signup-form-field"> 
			  <%= form.file_field :avatar %> <br>
			</div>


			<div class="action">				
      			<%= form.submit "Create" , class: "btn-sign-up"%>
			</div>
		</div>
	</div>
</div>