<div class="container-fluid text-center">
  <p class="mediumText"><strong>I want advice for...</strong></p>
  <br />
  <br />
  <div class="row">
    <div class="col-sm-4">
      <%= link_to loans_path do %>
        <div class="categoryBox loans">
          <div class="mediumText">
            <p><strong>LOANS</strong></p>
          </div>
        </div>
        <% end %>
    </div>

    <div class="col-sm-4">
      <%= link_to tax_path do %>
        <div class="categoryBox tax">
          <div class="mediumText">
            <p><strong>TAX</strong></p>
          </div>
        </div>
        <% end %>
    </div>

    <div class="col-sm-4">
      <%= link_to investments_path do %>
        <div class="categoryBox investments">
          <div class="mediumText">
            <p><strong>INVESTMENTS</strong></p>
          </div>
        </div>
        <% end %>
    </div>
  </div>
<br />
    <div class="row">
      <div class="col-sm-4">
        <%= link_to personal_finance_path do %>
          <div class="categoryBox personalFinance">
            <div class="mediumText">
              <p><strong>PERSONAL</strong></p>
              <p><strong>FINANCE</strong></p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <%= link_to insurance_path do %>
          <div class="categoryBox insurance">
            <div class="mediumText">
              <p><strong>INSURANCE</strong></p>
            </div>
          </div>
          <% end %>
      </div>

      <div class="col-sm-4">
        <%= link_to trading_path do %>
          <div class="categoryBox trading">
            <div class="mediumText">
              <p><strong>TRADING</strong></p>
            </div>
          </div>
          <% end %>
        </div>
    </div>
