<div class="col-sm-2">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
          <p class="smallText">
            CATEGORIES
          </p>
      </li>
      <li>
        <%= link_to "Loans", loans_path %>
      </li>
      <li>
        <%= link_to "Tax", tax_path %>
      </li>
      <li>
        <%= link_to "Investments", investments_path %>
      </li>
      <li>
        <%= link_to "Personal Finance", personal_finance_path %>
      </li>
      <li>
        <%= link_to "Insurance", insurance_path %>
      </li>
      <li>
        <%= link_to "Trading", trading_path %>
      </li>
    </ul>
  </div>
</div>
