<h2><%=@category.category_name %></h2>
<h3>Here is a list of consultants ready to help you make cents of your money!</h3>

		<a href="/consultant/<%=c.consultant.id%>"><%= @category.consultant.name %></a>
		<ul><%= @category.consultant.location %></ul>
		<ul><%= @category.consultant.qualifications%></ul>
		<ul><%= @category.consultant.location %></ul>
